body{
    font-family: Microsoft JhengHei;
}
p{
    font-size: 1em;
    margin-bottom: 0em;
    color: #BFBAB5;
    margin-right: 0%;
}
h1{
    width: 13.5em;
    font-size: 2.25em;
    color: #FAB95B;
    margin-right: 0em;
}
h2{
    width: auto;
    font-size: 1.625em;
    color: #FAB95B;
    margin-right: 0%;
}
/*重點介紹*/
#firstTitle{
    width: 30em;
    height: min-content;
    margin-top: 14.5%;
    margin-left: 5%;
}
#concept{
    width: 28em;
    margin-left: 50em;
    padding-right: 10em;
    margin-top: -20em;
}
/*選單*/
.button {
    border: none;
    color: #1A3263;
    padding: 0.25em 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    margin-left: 0%;
    background-color: #1A3263; 
    color: #BFBAB5; 
    border-bottom: #FAB95B 3px solid;
}

.button1:hover {
    background-color: #FAB95B;
    color: white;
}

.button2 {
    background-color: #1A3263; 
    color: #BFBAB5; 
    border-bottom: #FAB95B 3px solid;

}

.button2:hover {
    background-color: #FAB95B;
    color: white;
}

.button3 {
    background-color: #1A3263; 
    color: #BFBAB5; 
    border-bottom: #FAB95B 3px solid;
}

.button3:hover {
    background-color: #FAB95B;
    color: white;
}

.button4 {
    background-color: #1A3263; 
    color: #BFBAB5; 
    border-bottom: #FAB95B 3px solid;
}

.button4:hover {background-color: #FAB95B;
color: white;}

.button5 {
    background-color: #1A3263; 
    color: #BFBAB5; 
    border: 3px solid #FAB95B;
}

.button5:hover {background-color: #FAB95B;
color: white;}

/*第一段介紹*/
#intro_1{
    margin-left: 5%;
    margin-top: 18%;
    width: 40em;
}
#intro_1_T{
    text-align: center;
    margin-bottom: 0.3em;
    border-bottom: #FAB95B 3px solid;
    width: 5em;
    font-size: 1.625em;
    color: #FAB95B;
}

#intro_1_W{
    width: auto;
    font-size: 1.1em;
    color: #E8E2DB;
    margin-top: 1em;
}
#LMT{
    width: 24em;
    margin-left: 50em;
    padding-right: 10em;
    margin-top: -20em;
    padding-bottom: 2em;
}
/*第二段介紹*/
#intro_2{
    margin-left: 52%;

    margin-top: 10%;
    width: 40em;
}
#intro_2_T{
    text-align: center;
    margin-bottom: 0.3em;
    border-bottom: #FAB95B 3px solid;
    width: 5em;
    font-size: 1.625em;
    color: #FAB95B;
}

#intro_2_W{
    width: auto;
    font-size: 1.1em;
    color: #E8E2DB;
    margin-top: 1em;
}
#img2{
    width: 24em;
    margin-left: -45em;
    padding-right: 10em;
    padding-left: 17em;
    margin-top: -20em;
    padding-bottom: 2em;}
/*第三段介紹*/
#intro_3{
    margin-left: 5%;
    margin-top: 10%;
    width: 40em;
}
#intro_3_T{
    text-align: center;
    margin-bottom: 0.3em;
    border-bottom: #FAB95B 3px solid;
    width: 5em;
    font-size: 1.625em;
    color: #FAB95B;
}

#intro_3_W{
    width: auto;
    font-size: 1.1em;
    color: #E8E2DB;
    margin-top: 1em;
}
#img3{
    width: 15em;
    margin-left: 50em;
    padding-right: 10em;
    margin-top: -20em;
    padding-bottom: 2em;
}
/*第四段介紹*/
#intro_4{
    margin-left: 52%;

    margin-top: 10%;
    width: 40em;
}
#intro_4_T{
    text-align: center;
    margin-bottom: 0.3em;
    border-bottom: #FAB95B 3px solid;
    width: 7em;
    font-size: 1.625em;
    color: #FAB95B;
}

#intro_4_W{
    width: auto;
    font-size: 1.1em;
    color: #E8E2DB;
    margin-top: 1em;
}
#img4{
    width: 11em;
    margin-left: -45em;
    padding-right: 10em;
    padding-left: 17em;
    margin-top: -20em;
    padding-bottom: 2em;}

#_hove{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
#_hove:hover {background-color: #FAB95B;
    color: white;}


.logo {
    background-color: #1A3263; 
    color: #BFBAB5; 
    font-size: 2.2em;
    margin-left: 3.5%;
}

.logo:hover {
    background-color: #FAB95B;
    color: white;
}
